.button-inner {
    position: relative;
    width: 100%;
    color: black
}

.button-inner-static {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-outlined {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid gray;
    padding: 1vw 2vw;
    border-radius: 5vw;
    color: #fff;
    position: relative;
    z-index: 999;
    cursor: pointer;
    text-decoration: none;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}


.button-inner-static p {
    position: relative;
    /* left: 0; */
    bottom: 0vh;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    z-index: 9999;

    
}

.button-inner-hover {
    position: absolute;
    overflow: hidden;
    height: 3vh;
    width: 100%;
    left: 0;
    bottom: 0vh;
}

.button-inner-hover p {
    position: absolute;
    left: 0;
    bottom: -3vh;
    width: 100%;
    opacity: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-cta:hover .button-inner-static p {
    bottom: 3vh;

}

.nav-cta:hover .button-inner-hover p {
    bottom: 0vh;
    opacity: 1;
}
