@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root
{
    scroll-behavior:smooth;
}

.slick-slider
{
    display: flex;
    gap: 20px;
}

.slick-slide
{
    flex: 1;
    margin-right: 20px;
}

.customAspect
{
    aspect-ratio: 4 /6  !important;
}


@font-face {
    font-family: "Inter";
    src: local("Inter"),
    url("./fonts/Inter.ttf") format("truetype")
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
    url("./fonts/Montserrat.ttf") format("truetype")
}

@font-face {
    font-family: "Plus_Jakarta_Sans";
    src: local("Plus_Jakarta_Sans"),
    url("./fonts/Plus_Jakarta_Sans.ttf") format("truetype")
}



